@using Business.Enums
@model Admin.Models.CommentViewModels.CommentListViewModel

@{
    ViewBag.Title = "Yorumlar";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Yorum Tablosu</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Yorum No</th>
                            <th>Yorum Başlığı</th>
                            <th>Durumu</th>
                            <th nowrap>Eylemler</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var comment in Model.Comments)
                        {
                            <tr>
                                <td>@comment.CommentId</td>
                                <td>@comment.Title</td>
                                @if (comment.StatusId == (int)Statuses.Active)
                                {
                                    <td>Yayında</td>
                                }
                                else if (comment.StatusId == (int)Statuses.Passive)
                                {
                                    <td>Taslak</td>
                                }
                                <td>
                                    <a href="@Url.Action("Edit", new {id = comment.CommentId})" class="btn btn-success btn-sm">Düzenle</a>
                                    <a href="@Url.Action("Draft", new {id = comment.CommentId})" class="btn btn-warning btn-sm">Taslak</a>
                                    <a href="@Url.Action("Publish", new {id = comment.CommentId})" class="btn btn-info btn-sm">Yayınla</a>
                                    <a href="@Url.Action("Remove", new {id = comment.CommentId})" class="btn btn-danger btn-sm" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
}